body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #000000;
}

a {
	text-decoration: none;
	color: inherit;
	font: inherit;
}

.nav-info,
.catalog-title {
	margin: 0;
	padding: 0;
	background-color: #eeeeee;
}

.reset-list{
	list-style: none;
}

.catalog-title {
	font-size: 55px;
	line-height: 55px;
	text-transform: none;
}

.header-logo,
.main-menu,
.main-cart {
	font-size: 16px;
	line-height: 30px;
	color: #000000;
}

.nav-info a:hover {
	color: #fb565a;
}

.nav-info a:focus {
	color: #a6a6a6;
}

.nav-info a:active {
	color: #000000;
	border-bottom: 2px solid #fb565a;
}

.slide-text {
	list-style: none;
}

.promo-block h3{
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
}

.promo-block p {
	text-transform: none;
	color: #283136;
}

.promo-block a {
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
}

.promo-item {
	list-style: none;
	padding-top: 146px;
}

.promo-item:nth-child(1) {
	background: url("../img/illustration-1.jpg") no-repeat 0 0;
	width: 300px;
}

.promo-item:nth-child(2) {
	background: url("../img/illustration-2.jpg") no-repeat 0 0;
	width: 300px;
}

.promo-item:nth-child(3) {
	background: url("../img/illustration-3.jpg") no-repeat 0 0;
	width: 300px;
}

.btn-first {
	background-color: #fb565a;
}

.btn-first:hover {
	background-color: #e74246;
}

.btn-first:active {
	color: #e37376;
	background-color: #d7373b;
}

.btn-second {
	background-color: #00ca74;
}

.btn-second:hover {
	background-color: #00bc6c;
}

.btn-second:active {
	color: #4dc491;
	background-color: #00aa62;
}

.btn-third {
	background-color: #efc84a;
}

.btn-third:hover {
	background-color: #eab534;
}

.btn-third:active {
	color: #edc265;
	background-color: #e5a722;
}

.company-column-left li {
	list-style: none;
}

.footer li {
	list-style: none;
}

.footer-offer b {
	color: #000000;
	font-size: 36px;
	line-height: 36px;
	text-transform: none;
}

.footer-offer p {
	color: #000000;
	font-size: 16px;
	line-height: 22px;
	text-transform: none;
}

.filter-option {
	list-style: none;
}

.filter-legend {
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
}

.filter fieldset {
	border: none;
}

.filter label {
	font-size: 16px;
	line-height: 20px;
	text-transform: none;
	font-weight: 400;
}

.filter-button {
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	font-weight: 500;
	background-color: #eeeeee;
	border: none;
}

.filter-button:hover {
	background-color: #dfdfdf;
}

.filter-button:active {
	color: #959595;
	background-color: #d5d5d5;
}

.container-item {
	width: 1040px;
	margin-right: auto;
  margin-left: auto;
}

.reset-item {
  padding: 0;
  margin: 0;
  list-style: none;
}

.shop-item {
	display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 760px;
}

.item-img img {
	display: block;
}

.item-img::before,
.item-img::after {
	content="";
	position: absolute;
}

.item-img::before {
		background-image: url(".../img/browser.svg");
}

.item-img::after {
	background-image: url(".../img/browser.svg");
	opacity: .12;
}

.item-img:hover::before {
	background-image: url(".../img/browser.svg");
}

.item-img {
	position: relative;
	width: 360px;
	margin-bottom: 33px;
}

.item-buy .btn {
	background-color: #fb565a;
  color: #ffffff;
}

.item-buy .btn:hover {
	background-color: #e74246;
}

.item-buy .btn:active {
	background-color: #d7373b;
}

.catalog-item {
	font-size: 18px;
  line-height: 30px;
}

.pagination-item,
.paginator-btn {
	list-style: none;
}

.visually-hidden {
	position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.sort-ul {
	list-style: none;
}
